//bg
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: opacity $trs3, visibility $trs3;
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
  }
  &_left {
    background-position-x: left;
  }
  &_right {
    background-position-x: right;
  }
  &_top {
    background-position-y: top;
  }
  &_bottom {
    background-position-y: bottom;
  }
  &_contain {
    background-size: contain;
  }
}
//images
.image {
  display: block;
  position: relative;
  img {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: $trs3;
    &.lazyloaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &_cover,
  &_contain {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_cover {
    background-color: var(--color-border-1, #D9D9DE);
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}
.icon {
  width: 15px;
  height: 15px;
  fill: #000;
}

.logo {
  &__link {
    display: block;
    width: 196px;
  }
  svg {
    display: block;
    width: 100%;
    fill: var(--color-header-logo, #000);
  }
}

.card-labels {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.card-label {
  display: block;
  width: 50px;
  font-size: 0.75rem;
  color: #fff;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  position: relative;
  &_hit {
    background-color: var(--color-label-hit, #3EC28F);
  }
  &_sale {
    background-color: var(--color-label-sale, #FF9500);
  }
  &_new {
    background-color: var(--color-label-new, #3EC28F);
  }
}

.category-card {
  font-size: 0.875rem;
  &__container {
    min-height: 140px;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    height: 100%;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      transition: background-color $trs1;
      z-index: 2;
    }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      &_contain {
        z-index: 3;
        opacity: 0.2;
        img {
          width: 45px;
          height: 45px;
          top: 30px;
          left: 30px;
        }
      }
    }
    &.touch,
    &.hover {
      &:after {
        background-color: var(--color-category-block-hover, rgba(28, 82, 172, 0.75));
      }
    }
  }
  &__title {
    padding: 20px 40px 24px 20px;
    width: 100%;
    z-index: 4;
    margin: 0;
    color: inherit;
    position: relative;
    font-size: inherit;
    .icon {
      position: absolute;
      right: 15px;
      width: 16px;
      height: 16px;
      bottom: 24px;
      transition: fill $trs1;
      fill: #fff;
    }
  }
  img {
    filter: grayscale(100%);
  }
  @include media-breakpoint-down(xs) {
    &__container {
      height: 180px;
    }
  }
}

.card-price {
  &__label {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 5px;
    &_style-1 {
      color: var(--color-card-accent-1, #C43228);
    }
  }
  &__current {
    font-weight: 700;
    color: #000;
    font-size: 1.125rem;
    display: inline-block;
    white-space: nowrap;
    line-height: 1.2;
    span {
      font-size: 0.875rem;
    }
  }
  &__old {
    margin-left: 8px;
    font-size: 0.75rem;
    color: var(--color-text-muted, #767676);
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 100%;
      background-color: #D74853;
    }
  }
}

.advertising-preview {
  background-color: var(--color-border-1, #D9D9DE);
  border-color:  var(--color-border-1, #D9D9DE);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  display: flex;
  width: 100%;
  height: 380px;
  color: var(--color-text-muted, #767676);
  text-decoration: none;
  &__label {
    margin: auto;
    border: 1px solid var(--color-border-2, #BDBDBD);
    border-radius: 8px;
    line-height: 48px;
    padding: 0 22px;
    font-size: 0.75rem;
  }
  @include media-breakpoint-down(sm) {
    height: auto;
    &:before {
      content: '';
      display: block;
      padding-top: 173%;
    }
  }
}

.popular-projects {
  &__advertising {
    padding-top: 54px;
  }
  &__more {
    justify-content: flex-end;
  }
  @include media-breakpoint-up(lg) {
    &__slider {
      opacity: 1;
      visibility: visible; 
    }
  }
  @include media-breakpoint-down(md) {
    &__advertising {
      display: none;
    } 
  }
}

.project-preview-card {
  &__container {
    border: 1px solid var(--color-border-1, #D9D9DE);
    border-radius: 2px;
    overflow: hidden;
    height: 100%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
  }
  &__image {
    flex: 0 0 257px;
    max-height: 257px;
    position: relative;
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      &_contain {
        background-color: var(--color-border-1, #D9D9DE);
        img {
          padding: 45px;
        }
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity $trs1;
      background: linear-gradient(0deg, rgba(35, 99, 209, 0.5), rgba(35, 99, 209, 0.5))
    }
    &.touch,
    &.hover {
      &:after {
        opacity: 1;
      }
    }
  }
  &__status {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    background-color: #fff;
    color: #999999;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    padding: 0 5px;
    line-height: 18px;
  }
  &__index {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    font-size: 0.75rem;
    color: #fff;
    padding: 13px;
  }
  &__content {
    flex: 1 1 100%;
    position: relative;
    padding: 10px 13px 15px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-sections-bg, #F5F5F5);
  }
  &__title {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: color $trs1;
    margin-right: 120px;
    &.touch,
    &.hover {
      color: var(--color-accent, #2363D1);
    }
  }
  &__rating {
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    user-select: none;
    pointer-events: none;
  }
  &__buttons {
    display: flex;
    .button {
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
  &__content-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
  }
  &__content-top {
    position: relative;
    flex: 1 1 100%;
  }
  @include media-breakpoint-down(lg) {
    &__content {
      padding: 12px 12px 15px 12px;
    }
    &__content-bottom {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 12px;
    }
    &__buttons {
      order: 2;
    }
    &__rating {
      top: calc(100% + 14px);
    }
    &__title {
      margin: 0;
    }
    &__buttons {
      width: 100%;
      .button {
        &:not(:last-child) {
          margin-right: 12px;
          flex: 1 1 100%;
          max-width: 100%;
        }
      }
    }
    .card-price {
      order: 1;
      margin-bottom: 15px;
    }
  }
}

.section-partners {
  &__title {
    margin-bottom: 20px;
    text-align: center;
  }
  &__text {
    text-align: center;
    font-size: 1.125rem;
  }
  &__slider {
    margin-top: 25px;
    .slick-list {
      margin: 0 -20px;
    }
    .slider__prev,
    .slider__next {
      top: 50%;
      transform: translateY(-50%);
    } 
    .slider__prev {
      left: -95px;
    }
    .slider__next {
      right: -95px;
    }
  }
  &__slide {
    padding: 0 20px;
  }
  &__image {
    height: 52px;
  }
  @media screen and(max-width: 1439px) {
    &__slider {
        padding: 0 95px;
        .slider__next {
          right: 0;
        }
        .slider__prev {
          left: 0;
        }
      }
  }
}


.search-content-window {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute !important;
  top: 100%;
  left: 0;
  transition: opacity $trs1, visibility $trs1;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  border-color: var(--color-border-1, #D9D9DE);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  max-height: 400px;
  box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    padding: 12px 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-border-1, #D9D9DE);
    }
    &-title {
      line-height: 1.25rem;
      max-width: 480px;
      font-size: 0.875rem;
    }
    &-value {
      font-size: 1.125rem;
      font-size: #000;
      font-weight: 700;
      display: block;
      margin-top: 10px;
    }
    &-label {
      display: inline-block;
      border-radius: 2px;
      padding: 0 7px;
      font-size: 0.75rem;
      margin-left: 3px;
      &_style-1 {
        background-color: var(--color-text-muted, #767676);
        color: #fff;
      }
      &_style-2 {
        background-color: var(--color-text-muted-2, #E5E5EA);
        color: inherit;
      }
    }
  }
}

.search {
  position: relative;
  &__form {
    display: block;
    display: flex;
    width: 100%;
  }
  &__button {
    background-color: var(--color-button2-bg, #2363D1);
    height: 40px;
    flex: 0 0 48px;
    display: flex;
    transition: background-color $trs1;
    pointer-events: none;
    border-radius: 0 2px 2px 0;
    &.touch,
    &.hover {
      background-color: var(--color-header-search-active-button-hover-bg, #1C52AC);
    }
    .icon {
      margin: auto;
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }
  &__input {
    border-color: var(--color-border-3, #A7A7AB);
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-radius: 2px 0 0 2px;
    font-size: 0.875rem;
    flex: 1 1 100%;
    padding: 9px 15px;
    line-height: 20px;
    background-color: #fff;
    transition: background-color $trs1, color $trs1, border-color $trs1; 
    overflow: hidden;
    text-overflow: ellipsis;
    &::placeholder {
      color: var(--color-text-muted, #767676);
      transition: opacity $trs1;
    }
    &:focus {
      &::placeholder {
        opacity: 0 !important;
      }
    }
  }
  &.active {
    .search__button {
      pointer-events: all;
    }
  }
  &.active-content {
    .search__content {
      opacity: 1;
      visibility: visible;
    }
    .search__button {
      border-radius: 0 2px 0 0;
    }
    .search__input {
      border-radius: 2px 0 0 0;
    }
    .header-search__form {
      border-radius: 2px 2px 0 0;
    }
  }
}

.aside-filtration {
  margin-bottom: 32px;
  position: relative;
  z-index: 10;
  &__button {
    width: 100%;
    line-height: 46px;
    border: 1px solid var(--color-border-1, #D9D9DE);
    border-radius: 2px 2px 0 0;
    background-color: #fff;
    height: auto;
    color: inherit;
    position: relative;
    z-index: 2;
    pointer-events: none;
    justify-content: flex-start;
    padding: 0 25px;
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 13px;
      fill: var(--color-accent, #2363D1)
    }
  }
  &__content {
    box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
    border-radius: 2px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: var(--color-border-1, #D9D9DE);
    background-color: #fff;
    z-index: 1;
    &:not(:first-child) {
      border-radius: 0 0 2px 2px;
    }
  }
  &__list {
    margin: 0;
    padding: 10px 0;
    list-style: none;
  }
  &__link {
    display: block;
    text-decoration: none;
    color: #000;
    line-height: 18px;
    padding: 12px 40px 12px 16px;
    position: relative;
    background-color: transparent;
    transition: background-color $trs1;
    font-size: 0.875rem;
    .icon {
      height: 14px;
      width: 14px;
      top: 14px;
      right: 16px;
      position: absolute;
      display: block;
      fill: var(--color-accent, #2363D1)
    }
    &.touch,
    &.hover {
      background-color: var(--color-sections-bg, #F5F5F5);
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
    &__button {
      pointer-events: all;
      border-radius: 2px;
      justify-content: center;
      &.active {
        border-radius: 2px 2px 0 0;
      }
    }
    &__content {
      position: absolute;
      top: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity $trs1, visibility $trs1;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    &__link {
      padding-right: 60px;
      .icon {
        right: 35px;
      }
    }
  }
}

.sorting-heading {
  margin-bottom: 25px;
  &__container {
    display: flex;
  }
  &__title {
    margin-right: 20px;
    color: var(--color-text-muted, #767676);
    opacity: 0.75;
  }
  @include media-breakpoint-down(md) {
    margin: 0 0 24px 0;
    &__container {
      display: block;
    }
    &__title {
      display: block;
      margin: 0 0 12px 0;
    }
  }
}

.service-item-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  &__price {
    font-size: 1.875rem;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
    span {
      font-size: 0.6em;
    }
  }
  &__old-price {
    color: var(--color-old-price, #C43228);
    margin-left: 28px;
    font-size: 0.875rem;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -3px;
      width: calc(100% + 6px);
      height: 1px;
      background-color: var(--color-old-price, #C43228);;
    }
  }
  &__button {
    margin-left: 58px;
  }
  @include media-breakpoint-down(xs) {
    justify-content: center;
    margin-bottom: 32px;
    &__button {
      width: 100%;
      margin: 24px 0 0 0;
    }
  }
}

.line-sorting {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    color: var(--color-accent, #2363D1);
    transition: color $trs1;
    text-decoration: none;
    display: flex;
    align-items: center;
    .icon {
      fill: var(--color-accent, #2363D1);
      transition: fill $trs1;
      margin-right: 8px;
      width: 12px;
      height: 12px;
    }
    &.touch,
    &.hover,
    &.active {
      color: var(--color-accent-darker, #1C52AC);
      .icon {
        fill: var(--color-accent-darker, #1C52AC);
      }
    }
    &.active {
      font-weight: 700;
      pointer-events: none;
    }
  }
  @include media-breakpoint-down(md) {
    &__item:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.pagination {
  margin: 20px 0 0 0;
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__link {
    display: block;
    text-decoration: none;
    line-height: 44px;
    height: 48px;
    width: 48px;
    text-align: center;
    color: var(--color-pagination-accent, #2363D1);
    border-style: solid;
    font-size: 1.125rem;
    border-width: 2px;
    border-radius: 2px;
    border-color: transparent;
    transition: background-color $trs1, border-color $trs1, color $trs1;
    &.touch,
    &.hover,
    &.active {
      border-color: var(--color-pagination-accent, #2363D1);
    }
    &.active {
      pointer-events: none;
      background-color: var(--color-pagination-accent, #2363D1);
      color: #fff;
    }
  }
  @include media-breakpoint-down(sm) {
    &__list {
      justify-content: center;
    }
  }
}











@include media-breakpoint-down(md) {
  .project-preview-card {
    &__image {
      flex: 0 0 200px;
      max-height: 200px;
    }
  }
} 
@include media-breakpoint-down(sm) {
  .logo {
    &__link {
      display: block;
      width: 160px;
    }
  }
  .header {
    &__nav-group {
      flex: 0 0 auto;
    }
  }
  .category-block {
    &__title {
      font-size: 1.125rem;
    }
  }
  .section-partners {
    &__slider {
      padding: 0 80px;
      .slick-list {
        margin: 0 -10px;
      }
    }
    &__slide {
      padding: 0 10px;
    }
  }
} 



@include media-breakpoint-down(xs) {
  .logo {
    &__link {
      width: 117px;
    }
  }
  .section-partners {
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      font-size: 0.75rem;
      margin-bottom: 30px;
    }
    &__slider {
      margin-top: 30px;
    }
  }
} 