.filter {
  font-size: 0.875rem;
  &__container {
    padding: 24px 0 12px 0;
  }
  &-section {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &__head {
      position: relative;
      padding: 0 16px;
      margin-bottom: 8px;
      user-select: none;
      cursor: pointer;
      &.active {
        .filter-section__icon {
          transform: rotate(180deg);
        }
      }
    }
    &__item {
      margin-bottom: 20px;
    }
    &__content-inner {
      overflow: hidden;
      padding: 9px 0;
    }
    &__items {
      margin-bottom: -20px;
    }
    &__content {
      padding: 0 16px;
      &.scrollbar {
        max-height: 158px;
      }
    }
    &__items-content {
      margin-bottom: -20px;
    }
    &__title {
      margin: 0;
      line-height: 24px;
      padding-right: 30px;
    }
    &__icon {
      width: 24px;
      height: 24px;
      border-radius: 24px;
      padding: 0;
      min-width: 0px;
      pointer-events: none;
      position: absolute;
      right: 16px;
      top: 0;
      background-color: var(--color-filter-arrow-bg, #F3F6FB);
      transition: transform $trs1;
      .icon {
        width: 10px;
        height: 10px;
      }
    }
  }
  &__buttons {
    padding: 0 16px 25px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    width: 100%;
  }
  &__reset {
    text-decoration: none;
    margin-top: 16px;
    color: var(--color-accent, #2363D1);
    transition: color $trs1;
    font-size: 0.875rem;
    &.touch,
    &.hover {
      color: var(--color-accent-darker, #1C52AC);
    }
  }
  @include media-breakpoint-down(xs) {
    &__button {
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}