.input {
  position: relative;
  &__element {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-input-border, #A7A7AB);
    line-height: 22px;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 2px;
    transition: border-color $trs1, box-shadow $trs1, color $trs1, background-color 5000s;
    width: 100%;
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: inherit;
      box-shadow: 0 0 0px 1000px #fff inset;
    }
    &::placeholder {
      color: var(--color-text-muted, #767676);
      transition: opacity $trs1, color $trs1;
    }
    &_textarea {
      min-height: 100px;
      resize: none;
    }
    &.focused {
      box-shadow: 0px 0px 0px 2px var(--color-input-focus-shadow, #E7EEF6);
      border-color: var(--color-input-focus, #2363D1);
      &::placeholder {
        opacity: 0;
      }
      & ~ .input__label {
        color: var(--color-input-focus, #2363D1);
        opacity: 1;
        visibility: visible;
      }
    }
    &.filled {
      & ~ .input__label {
        opacity: 1;
        visibility: visible;
      }
    }
    &.error {
      box-shadow: 0px 0px 0px 2px var(--color-input-error-shadow, #F6E7E7);
      border-color: var(--color-input-error, #C43228);
      color: var(--color-input-error, #C43228);
      & ~ .input__label {
        color: var(--color-input-error, #C43228);
      }
      & ~ .input__message {
        display: block;
      }
      &::placeholder {
        color: var(--color-input-error, #C43228);;
      }
    }
  }
  &__label {
    display: block;
    font-size: 0.625rem;
    line-height: 1.5;
    text-transform: uppercase;
    position: absolute;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    transition: color $trs1, opacity $trs1, visibility $trs1;
  }
  &__message {
    display: none;
    color: var(--color-input-error, #C43228);
    font-size: 0.75rem;
    margin-top: 4px;
    line-height: 1.125rem;
  }
}

.form-section {
  margin: 0;
  padding: 40px 0;
  background-color: var(--color-sections-bg, #F5F5F5);
  &__content {
    margin: 0 auto;
    max-width: 980px;
    background-color: #fff;
    padding: 24px 100px 46px 100px;
    border: 3px solid var(--color-accent, #2363D1);
    box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
    border-radius: 8px;
  }
  &__title {
    text-align: center;
    margin-bottom: 27px;
  }
}

.form-post-text {
  display: block;
  margin-top: 20px;
  font-size: 0.75rem;
  color: var(--color-text-muted, #767676);
  line-height: 1.5;
}

.form {
  &__input {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__bottom {
    margin-top: 20px;
  }
  &__upload-button {
    input {
      display: none;
    }
  }
}