.header {
  flex: 0 0 auto;
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__top {
    background-color: var(--color-header-top, #fff);
    padding: 19px 0;
    width: 100%;
  }
  &__bottom {
    background-color: var(--color-header-bottom, #000);
    padding: 16px 0;
  }
  &__nav-group {
    display: flex;
    align-items: center;
  }
  &__contact-group {
    display: flex;
    align-items: center;
  }
  &-nav {
    margin-left: 45px;
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &__link {
      display: block;
      color: var(--color-header-links, #333333);
      text-decoration: none;
      transition: color $trs1;
      &.touch,
      &.hover {
        color: var(--color-header-links-hover, #1C52AC);
      }
    }
  }
  &__phone {
    font-weight: 700;
    color: var(--color-header-phone, #333333);
    text-decoration: none;
    transition: color $trs1;
    margin-right: 17px;
    &.touch,
    &.hover {
      color: var(--color-header-phone-hover, #1C52AC);
    }
  }
  &__city {
    margin-right: 23px;
    position: relative;
    z-index: 3;
    &-link {
      color: var(--color-accent-darker, #1C52AC);
      text-decoration: none;
      transition: color $trs1;
      display: flex;
      align-items: center;
      .icon {
        width: 9px;
        height: 9px;
        fill: var(--color-accent, #2363D1);
        transition: fill $trs1;
        margin-left: 6px;
        display: inline-block;
      }
      &.touch,
      &.hover {
        color: var(--color-accent, #2363D1);
        .icon {
          fill: var(--color-accent, #2363D1);
        }
      }
    }
  }
  &__buttons-group {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 25px;
  }
  &__small-button {
    text-decoration: none;
    color: #fff;
    transition: color $trs1;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    .icon {
      transition: fill $trs1;
      fill: var(--color-header-button-icon, #fff);
    }
    &.touch,
    &.hover {
      .icon {
        fill: var(--color-header-button-hover-icon, #2363D1);
      }
    }
    &_auth {
      margin-right: 19px;
      color: var(--color-accent, #2363D1);
      .icon {
        width: 21px;
        height: 25px;
      }
      span {
        margin-left: 9px;
      }
    }
    &_comparison,
    &_cart {
      span {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
      }
    }
    &_comparison {
      margin-right: 26px;
      .icon {
        width: 27px;
        height: 25px;
      }
      span {
        margin-left: 6px;
      }
    }
    &_cart {
      .icon {
        width: 14px;
        height: 20px;
      }
      span {
        margin-left: 13px;
        background-color: var(--color-accent, #2363D1);
        border-radius: 24px;
        transition: background-color $trs1;
      }
      &.touch,
      &.hover {
        span {
          background-color: transparent;
        }
      }
    }
  }
  &__search {
    flex: 1 1 100%;
    max-width: 700px;
    .search {
      &__button {
        background-color: var(--color-header-search-button-bg, #333333);
        height: 48px;
        flex: 0 0 80px;
      }
      &__input {
        border-color: var(--color-header-search-border, #333333);
        padding: 12px 16px;
        color: var(--color-header-search, #fff);
        background-color: var(--color-header-search-bg, #222222);
        &::placeholder {
          color: #fff;
          opacity: 0.5;
        }
      }
    }
    &.active {
      .search {
        &__input {
          color: var(--color-header-search-active, #333333);
          background-color: var(--color-header-search-active-bg, #fff);
          border-color: var(--color-header-search-active-border, #2363D1);
        }
        &__button {
          background-color: var(--color-header-search-active-button-bg, #2363D1);
          &.touch,
          &.hover {
            background-color: var(--color-header-search-active-button-hover-bg, #1C52AC);
          }
        }
      }
    }
  }
}

.nav-toggle {
  display: none;
  width: 30px;
  height: 30px;
  padding: 7px 6px;
  flex-direction: column;
  justify-content: space-between;
  span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: var(--color-header-button-icon-mobile, #333333);
    transition: background-color $trs1, transform $trs1, opacity $trs1;
  }
  &.touch,
  &.hover {
    span {
      background-color: var(--color-header-button-hover-icon, #2363D1);
    }
  }
  &.active {
    span {
      &:nth-child(2) {
        opacity: 0;
      }
      &:first-child {
        transform: translateY(7px) rotate(-45deg) scaleX(1.15) ;
      }
      &:last-child {
        transform: translateY(-7px) rotate(45deg) scaleX(1.15);
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .header {
    &__phone {
      display: none;
    }
  }
  .header-nav {
    margin-left: 40px;
  }
} 

@include media-breakpoint-down(md) {
  .nav-toggle {
    display: flex;
  }
  .header-nav {
    display: none;
  }
  .header {
    &.fixed {
      transition: transform $trs1;
      position: fixed;
      top: -50px;
      transform: translateY(50px);
      box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
      .header__buttons-group {
        bottom: 10px;
      }
      .header__bottom {
        padding: 0;
      }
      .header__search {
        display: none;
      }
    }
    &__search {
      .search__input {
        background-color: var(--color-header-search-bg-mobile, #333333);
      } 
    }
    &__top {
      padding: 10px 0;
      height: 50px;
      display: flex;
      align-items: center;
    }
    .logo__link {
      height: 30px;
      width: 170px;
      svg {
        height: 100%;
      }
    }
    &__buttons-group {
      position: absolute;
      bottom: 74px;
      right: 62px;
      margin: 0;
    }
    &__contact-items {
      display: none;
    }
    &__city {
      display: none;
    }
    &__small-button {
      padding: 5px;
      span {
        font-size: 0.5rem;
      }
      &_auth {
        display: none;
      }
      &_cart,
      &_comparison {
        align-items: flex-start;
        .icon {
          fill: var(--color-header-button-icon-mobile, #333333);
        }
        span {
          width: 16px;
          height: 16px;
          line-height: 16px;
          margin-left: 5px;
          transform: translateY(-5px);
        }
      }
      &_comparison {
        color: var(--color-header-button-icon-mobile, #333333);
        margin-right: 16px;
        .icon {
          height: 20px;
          width: 18px;
        }
      }
      &_cart {
        &.touch,
        &.hover {
          color: var(--color-header-button-icon-mobile, #333333);
        }
      }
    }
  }
} 

@include media-breakpoint-down(xs) {
  .header {
    .logo__link {
      width: 117px;
    }
    .logo {
      margin-left: 5px;
    }
    &__buttons-group {
      right: 56px;
    }
    &__small-button_comparison {
      margin-right: 12px;
    }
  }
} 
