.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.main {
  flex: 1 1 100%;
  padding: 30px 0 0 0;
}
.section {
  margin: 0 0 60px 0;
  position: relative;
  &__title {
    margin: 0 0 25px 0;
    display: block;
  }
}

.col-aside {
  flex: 1 1 20%;
  max-width: 20%;
}