.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 158px;
}
.main {
  flex: 1 1 100%;
  padding: 30px 0 0 0;
}
.section {
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
  &__title {
    margin: 0 0 25px 0;
    display: block;
    span {
      color: var(--color-accent, #2363D1);
    }
  }
  &__more {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
.section .section {
  &:last-child {
    margin-bottom: 0;
  }
}
.grid {
  margin-bottom: -20px;
  &__block {
    margin-bottom: 20px;
  }
}

@include media-breakpoint-down(md) {
  .wrapper {
    padding-top: 130px;
  }
  .col-aside {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .section {
    margin-bottom: 72px;
    &__more {
      margin-top: 32px;
    }
    &__title {
      margin-bottom: 32px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .section {
    &__more-button {
      width: 100%;
    }
  }
  .grid {
    margin-bottom: -24px;
    &__block {
      margin-bottom: 24px;
    }
  }
}