//normalize.css
@import "../../node_modules/normalize.css/normalize.css";
//bootsrtap (grid only)
@import "./components/bootstrap-4.0.0/bootstrap-grid";
//fonts
@import "./components/fonts";

//variables
@import "./components/variables";

/*========== Basic ==========*/
html {
  font-size: 16px;
}
body {
  font-family: 'Golos', sans-serif;
  text-rendering: geometricPrecision;
  color: var(--color-text, #333333);
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: 320px;
}
* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  &:before,&:after {
    box-sizing: border-box;
  }
}
button, input, textarea {
  outline: none;
  display: block;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  border-radius: 0;
}
a, button, label {
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
//bg
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: opacity $trs3, visibility $trs3;
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
  }
  &_left {
    background-position-x: left;
  }
  &_right {
    background-position-x: right;
  }
  &_top {
    background-position-y: top;
  }
  &_bottom {
    background-position-y: bottom;
  }
  &_contain {
    background-size: contain;
  }
}
//images
.image {
  display: block;
  position: relative;
  img {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: $trs3;
    &.lazyloaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &_cover,
  &_contain {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_cover {
    background-color: var(--color-border-1, #D9D9DE);
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}
.icon {
  width: 15px;
  height: 15px;
  fill: #000;
  stroke: #000;
}


/*========== JS HELPER ==========*/
@import 'components/js-helper';



/*========== Layout ==========*/
@import "./components/layout";

/*========== Typography ==========*/
@import "./components/typography";

/*========== Helpers ==========*/
@import 'components/helpers';

/*========== Buttons ==========*/
@import 'components/buttons';

/*========== Form ==========*/
@import 'components/form';

/*========== Slider ==========*/
@import 'components/slider';

/*========== Scrollbar ==========*/
@import 'components/scrollbar';

/*========== popups ==========*/
@import 'components/popups';

/*========== Breadcrumbs ==========*/
@import 'components/breadcrumbs';

/*========== Blocks ==========*/
@import 'components/blocks';

/*========== Header ==========*/
@import 'components/header';

/*========== Filter ==========*/
@import 'components/filter';

/*========== Mobile-nav ==========*/
@import 'components/mobile-nav';

/*========== Home ==========*/
@import 'components/home';

/*========== Footer ==========*/
@import 'components/footer';
