extends layout/layout
  
block title
  title Сравнение товаров
block breadcrumbs 
  -var title = 'Сравнение товаров'
  include blocks/breadcrumbs
block style
  link(rel="stylesheet" href="styles/comparison.min.css")

block content
  section.section.container
    h1.section__title Сравнение товаров




  -var formTitle = 'Станьте нашим партнёром'
  include blocks/form