extends layout/layout
  
block title
  title Главная

block content
  .home-banner.slider
    .home-banner__slide.image.image_cover
      img(data-src="img/26128 1.jpg", alt="image").lazyload
    .home-banner__slide.image.image_cover
      img(data-src="img/26134 1.jpg", alt="image").lazyload
    .home-banner__slide.image.image_cover
      img(data-src="img/26128 1.jpg", alt="image").lazyload
    .home-banner__slide.image.image_cover
      img(data-src="img/26134 1.jpg", alt="image").lazyload
    .home-banner__slide.image.image_cover
      img(data-src="img/26134 1.jpg", alt="image").lazyload
  section.section.home-categories
    .container
      .row.home-categories__container
        //block
        .category-block.col-md-3
          a(href="#").category-block__container.image.image_cover
            img(data-src="img/Rectangle 200.jpg", alt="image").lazyload
            h5.category-block__title Деревянные дома 
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
        .category-block.col-md-3
          a(href="#").category-block__container.image.image_cover
            img(data-src="img/Rectangle 199.jpg", alt="image").lazyload
            h5.category-block__title Кровельные работы
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
        .category-block.col-md-3
          a(href="#").category-block__container.image.image_cover
            img(data-src="img/Rectangle 198.jpg", alt="image").lazyload
            h5.category-block__title Пропитки для бревен
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
        .category-block.col-md-3
          a(href="#").category-block__container.image.image_cover
            img(data-src="img/Rectangle 197.jpg", alt="image").lazyload
            h5.category-block__title Проектирование
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
  




  section.section.about-us
    .background(data-src='img/about.png').lazyload.about-us__background
    .container
      .row
        .about-us-block.col-md-6
          h3.about-us-block__title О компании
          .about-us-block__container
            .about-us-block__count
              span.about-us-block__count-value 12
              span.about-us-block__count-label лет на рынке
            .about-us-block__text
              p Инвестируем в заводы, производящие листовые строительные материалы (ДСП ЦСП ФАНЕРА, ОСБ и т.д.) заключаем договора, выкупаем партии продукции, везем вагонами или фурами на склад и после поставляют постоянным клиентам типа “Красной цены”, “Сатурна”, “Центр строя” и т.д. 
              p Если есть товар в наличии и их цена ниже, то мы продаем, если нет — то продают конкуренты.
          a(href="#").button.button_style-1.about-us-block__button.about-us-block__left-button Подробнее
        .about-us-block.col-md-6
          h3.about-us-block__title Наши бригады
          .about-us-block__count
            span.about-us-block__count-value 6
            span.about-us-block__count-label Свободных бригад
          a(href="#").button.button_style-1.about-us-block__button Успей забронировать бригаду
  
  section.section.popular-projects-section
    .container
      .row
        h3.col-md.section__title.popular-projects-section__title Популярные проекты домов
      .row
        .col-md-auto.col-aside
          include blocks/advertising
        .col-md
          .slider.slider_grid.popular-projects-section__slider
            include blocks/cards
            +card1(true, true)
            +card1(false, false)
            +card1(true, true)
            +card1(false, false)
      .popular-projects-section__more
        a(href="#").button.button_style-1 Смотреть все проекты
          
  section.section.additionalLinks-section
    .container
      .row
        .additionalLinks-block.col-md-6
          .additionalLinks-block__container
            .background.background_left.additionalLinks-block__background.lazyload(data-src='img/dce9a60f2d0bb6ee08ce43af9bc71557 1.png')
            h3.additionalLinks-block__title Калькулятор проектов
            p.additionalLinks-block__text Рассчитайте орентировочную стоимость своего<br> проекта самостоятельно
            a(href="#").button.button_style-2.button_xl.additionalLinks-block__button
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#box")
              span Рассчитать
        .additionalLinks-block.col-md-6
          .additionalLinks-block__container
            .background.background_right.additionalLinks-block__background.lazyload(data-src='img/map.png')
            h3.additionalLinks-block__title Наши реализованные<br> проекты
            a(href="#").button.button_style-2.button_xl.additionalLinks-block__button
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#document")
              span Посмотреть все объекты

  section.section.services
    .container
      h3.section__title.services__title Основные услуги
      .services__container.row
        mixin block(title)
          .services-item-block.col-md-3
            a(href="#").services-item-block__container
              h5.services-item-block__title=title
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
        +block('Доставка и оплата и далее на две строчки')
        +block('Доставка')
        +block('Расчет доставки')
        +block('Политика обработки персональных данных')
      .services__more
        a(href="#").button.button_style-1 Смотреть все услуги

  include blocks/form