extends layout/layout
  
block title
  title Главная

block content
  .home-banner.slider.slider_arrows.slider_dots
    .home-banner__slide.image.image_cover
      img(data-src="img/26128 1.jpg", alt="image").lazyload
    .home-banner__slide.image.image_cover
      img(data-src="img/26134 1.jpg", alt="image").lazyload
    .home-banner__slide.image.image_cover
      img(data-src="img/26128 1.jpg", alt="image").lazyload
    .home-banner__slide.image.image_cover
      img(data-src="img/26134 1.jpg", alt="image").lazyload
    .home-banner__slide.image.image_cover
      img(data-src="img/26134 1.jpg", alt="image").lazyload

  section.section.home-categories
    .container
      .row.grid
        include blocks/cards
        -var grid = 'grid__block home-categories__block col-lg-3 col-md-6 col-12'
        +card2('Деревянные дома', 'img/56dcc810efa71925168c0d36d5c3fbf7.png', grid)
        +card2('Кровельные работы', 'img/7eaf93e9c47993e5b22277de3a30b89e.png', grid)
        +card2('Пропитки для бревен', 'img/767773b7699f15e02052b250d92c0c7f.png', grid)
        +card2('Проектирование', 'img/e79cec4f0a120d2e96a1701cf4ef8db3.png', grid)
  
  section.section.about-us
    .background(data-src='img/about.png').lazyload.about-us__background
    .container
      .row.about-us__container
        .about-us-block.col-lg-6.col-md-12
          h2.about-us-block__title О компании
          .about-us-block__container
            .about-us-block__count
              span.about-us-block__count-value 12
              span.about-us-block__count-label лет на рынке
            .about-us-block__text
              p Инвестируем в заводы, производящие листовые строительные материалы (ДСП ЦСП ФАНЕРА, ОСБ и т.д.) заключаем договора, выкупаем партии продукции, везем вагонами или фурами на склад и после поставляют постоянным клиентам типа “Красной цены”, “Сатурна”, “Центр строя” и т.д. 
              p Если есть товар в наличии и их цена ниже, то мы продаем, если нет — то продают конкуренты.
          .about-us-block__button-container
            a(href="#").button.button_style-1.about-us-block__button.about-us-block__left-button Подробнее
        .about-us-block.col-6
          h2.about-us-block__title Наши бригады
          .about-us-block__count
            span.about-us-block__count-value 6
            span.about-us-block__count-label Свободных бригад
          .about-us-block__button-container
            a(href="#").button.button_style-1.about-us-block__button 
              span 
                span.d-none.d-lg-inline Успей 
                span забронировать 
                span.d-none.d-lg-inline бригаду
  
  section.section.d-sm-none
    .container
      include blocks/advertising

  section.section.popular-projects
    .container
      .row
        .col-xl-20pc.col-lg-3.popular-projects__advertising
          include blocks/advertising
        .col-xl.col-lg-9
          h2.section__title Популярные проекты домов
          .slider.slider_grid.slider_arrows.popular-projects__slider.row
            include blocks/cards
            -var grid = 'col-md-6 col-12'
            +card1(true, true, grid)
            +card1(true, true, grid)
            +card1(true, true, grid)
            +card1(true, true, grid)
            +card1(true, true, grid)
            +card1(false, false, grid)
      .section__more.popular-projects__more
        a(href="#").button.button_style-1.button_xl.section__more-button Смотреть все проекты

          
  section.section.additionalLinks-section
    .container
      .row
        .additionalLinks-block.col-md-6
          .additionalLinks-block__container
            .background.background_left.additionalLinks-block__background.lazyload(data-src='img/dce9a60f2d0bb6ee08ce43af9bc71557 1.png')
            h2.additionalLinks-block__title Калькулятор проектов
            p.additionalLinks-block__text Рассчитайте орентировочную стоимость своего<br> проекта самостоятельно
            a(href="#").button.button_style-2.button_xl.additionalLinks-block__button
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#box")
              span Рассчитать
        .additionalLinks-block.col-md-6
          .additionalLinks-block__container
            .background.background_right.additionalLinks-block__background.lazyload(data-src='img/map.png')
            h2.additionalLinks-block__title Наши реализованные<br> проекты
            p.additionalLinks-block__text В сезон таких специалистов тяжело найти, предлагаем функцию запрос бригады. 
            a(href="#").button.button_style-2.button_xl.additionalLinks-block__button
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#document")
              span Посмотреть все объекты
  
  section.section.services
    .container
      h2.section__title.services__title Основные услуги
      .services__container.row.grid
        mixin block(title)
          .services-item-block.grid__block.col-lg-3.col-sm-6
            a(href="#").services-item-block__container
              h3.services-item-block__title=title
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
        +block('Доставка и оплата и далее на две строчки')
        +block('Доставка')
        +block('Расчет доставки')
        +block('Политика обработки персональных данных')
      .services__more.section__more
        a(href="#").button.button_style-1.button_xl.section__more-button Смотреть все услуги

  section.section.news-preview-section
    .container
      h2.section__title Новости и акции
      .slider.slider_grid.row.news-preview-section__slider
        .news-preview-block.col
          a(href="#").news-preview-block__container.image.image_cover
            img(src="img/image 2.png", alt="image").lazyload
            .news-preview-block__content
              span.news-preview-block__label.news-preview-block__label_style-1 Акция
              span.news-preview-block__text С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс отправиться MaxRoyal
        .news-preview-block.col
          a(href="#").news-preview-block__container.image.image_cover
            img(src="img/no_img_news.jpg", alt="image").lazyload
            .news-preview-block__content
              span.news-preview-block__label.news-preview-block__label_style-2 Новость
              span.news-preview-block__text С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс
        .news-preview-block.col
          a(href="#").news-preview-block__container.image.image_cover
            img(src="img/image 2.png", alt="image").lazyload
            .news-preview-block__content
              span.news-preview-block__label.news-preview-block__label_style-1 Акция
              span.news-preview-block__text С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс отправиться MaxRoyal
        .news-preview-block.col
          a(href="#").news-preview-block__container.image.image_cover
            img(src="img/no_img_news.jpg", alt="image").lazyload
            .news-preview-block__content
              span.news-preview-block__label.news-preview-block__label_style-2 Новость
              span.news-preview-block__text С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс

      .news-preview-section__more.section__more
        a(href="#").button.button_style-1.button_xl.section__more-button Смотреть все новости и акции

  section.section.section-articles
    .container
      h2.section__title Полезные статьи
      .row.grid
        .article-preview.grid__block.col-lg-3.col-sm-6
          .article-preview__container
            span.article-preview__label Статья
            a(href="#").article-preview__text Продажа листовых строительных материалов — это сложно
        .article-preview.grid__block.col-lg-3.col-sm-6
          .article-preview__container
            span.article-preview__label Статья
            a(href="#").article-preview__text Преимущественное использование плитки в качестве отделки для санузлов объясняется свойствами. 
        .article-preview.grid__block.col-lg-3.col-sm-6
          .article-preview__container
            span.article-preview__label Статья
            a(href="#").article-preview__text Преимущественное использование плитки в качестве отделки для санузлов объясняется свойствами. 
        .article-preview.grid__block.col-lg-3.col-sm-6
          .article-preview__container
            span.article-preview__label Статья
            a(href="#").article-preview__text Преимущественное использование плитки в качестве отделки для санузлов объясняется отличными санитарно-гигиеническими свойствами. 
      .section-articles__more.section__more
        a(href="#").button.button_style-1.button_xl.section__more-button Смотреть все статьи
  
  -var formTitle = 'Напишите нам'
  include blocks/form

  section.section.section_padding.section_no-margin.section-partners
    .container
      h2.section__title.section-partners__title Наши 
        span партнёры
      p.section-partners__text Мы продаем продаем листовые строительные материалы только у проверенных постащиков 
      .slider.section-partners__slider
        .section-partners__slide
          .image.image_contain.section-partners__image
            img(src="img/p1.png", alt="image").lazyload
        .section-partners__slide
          .image.image_contain.section-partners__image
            img(src="img/p2.png", alt="image").lazyload
        .section-partners__slide
          .image.image_contain.section-partners__image
            img(src="img/p3.png", alt="image").lazyload
        .section-partners__slide
          .image.image_contain.section-partners__image
            img(src="img/p4.png", alt="image").lazyload
        .section-partners__slide
          .image.image_contain.section-partners__image
            img(src="img/p5.png", alt="image").lazyload
        .section-partners__slide
          .image.image_contain.section-partners__image
            img(src="img/p6.png", alt="image").lazyload
        .section-partners__slide
          .image.image_contain.section-partners__image
            img(src="img/p1.png", alt="image").lazyload