extends layout/layout
  
block title
  title Проекты (тип 2)
block breadcrumbs 
  -var title = 'Каталог'
  include blocks/breadcrumbs

block content
  section.section.container
    h1.page-title Проекты домов
    .sorting-heading
      .sorting-heading__container
        span.sorting-heading__title Сортировка:
        .line-sorting.d-none.d-md-block
          ul.line-sorting__list
            li.line-sorting__item
              a(href="#").line-sorting__link.active
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#sorting-up")
                | Цена (по возрастанию)
            li.line-sorting__item
              a(href="#").line-sorting__link
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#sorting-down")
                | Цена (по убыванию)
            li.line-sorting__item
              a(href="#").line-sorting__link Наличие
            li.line-sorting__item
              a(href="#").line-sorting__link Популярность
        .row.d-flex.d-md-none
          .col-xl-5th.col-sm-6
            select.select.select_style-1
              option(value="1") Цена (по возрастанию)
              option(value="2") Цена (по убыванию)
              option(value="3" selected) Наличие
              option(value="4") Популярность
    .row
      aside.aside.col-xl-5th.col-lg-3
        .aside-filtration.toggle-section(data-out-hide data-class-only)
          a(href="javascript:void(0);").button.aside-filtration__button.toggle-section__head
            svg.icon
              use(xlink:href="img/icons/icons-sprite.svg#burger")
            span Каталог проектов
          .aside-filtration__content.toggle-section__content
            ul.aside-filtration__list
              li.aside-filtration__item
                a(href="#").aside-filtration__link Дома из бруса
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Дома из газобетона
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Кирпичные дома 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Каркасные дома
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Dома из бруса  
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Дома из газобетона
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Кирпичные дома
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Каркасные дома
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Дома из бруса
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
              li.aside-filtration__item
                a(href="#").aside-filtration__link Дома из газобетона
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
        
        
        //filter
        -var index = 0
        mixin checkbox(title, count)
          .checkbox.filter-section__item
            input(type="checkbox" id=index).checkbox__input
            label(for=index).checkbox__label=title
            span.checkbox__count=count
          -index++
        .filter
          .filter__container
            //section
            .filter-section.toggle-section.active
              .filter-section__head.toggle-section__head
                h3.filter-section__title Площадь
                .button.button_style-1.button_rounded-arrow 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-down-bold")
              .filter-section__content.toggle-section__content.scrollbar.scrollbar_style-2
                .filter-section__content-inner.scrollbar__content
                  .filter-section__items.scrollbar__inner
                    +checkbox('до 100 квм', '12')
                    +checkbox('от 100 до 150 квм', '3')
            //section
            .filter-section.toggle-section.active
              .filter-section__head.toggle-section__head
                h3.filter-section__title Этажность
                .button.button_style-1.button_rounded-arrow 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-down-bold")
              .filter-section__content.toggle-section__content.scrollbar.scrollbar_style-2
                .filter-section__content-inner.scrollbar__content
                  .filter-section__items.scrollbar__inner
                    +checkbox('1', '12')
                    +checkbox('2', '3')
                    +checkbox('3', '12')
                    +checkbox('4', '3')
            //section
            .filter-section.toggle-section.active
              .filter-section__head.toggle-section__head
                h3.filter-section__title Материал
                .button.button_style-1.button_rounded-arrow 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-down-bold")
              .filter-section__content.toggle-section__content.scrollbar.scrollbar_style-2
                .filter-section__content-inner.scrollbar__content
                  .filter-section__items.scrollbar__inner
                    .radio.filter-section__item
                      input(type="radio" id='ddfgdgd' name='dddd').radio__input
                      label(for='ddfgdgd').radio__label Значение
                      span.checkbox__count 3
                    .radio.filter-section__item
                      input(type="radio" id='dsdsds' name='dddd').radio__input
                      label(for='dsdsds').radio__label Кирпич
                      span.checkbox__count 12
                    .radio.filter-section__item
                      input(type="radio" id='dfgq1b' name='dddd').radio__input
                      label(for='dfgq1b').radio__label Дерево
                      span.checkbox__count 3
                    .radio.filter-section__item
                      input(type="radio" id='gggww' name='dddd').radio__input
                      label(for='gggww').radio__label Кирпич
                      span.checkbox__count 12
                    .radio.filter-section__item
                      input(type="radio" id='dgwqev' name='dddd').radio__input
                      label(for='dgwqev').radio__label Дерево
                      span.checkbox__count 3
                    .radio.filter-section__item
                      input(type="radio" id='hhhfd' name='dddd').radio__input
                      label(for='hhhfd').radio__label Кирпич
                      span.checkbox__count 12
            //section
            .filter-section.toggle-section.active
              .filter-section__head.toggle-section__head
                h3.filter-section__title Услуги
                .button.button_style-1.button_rounded-arrow 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-down-bold")
              .filter-section__content.toggle-section__content
                .filter-section__content-inner
                  .filter-section__items.scrollbar__inner.row
                    .filter-section__item.col-lg-12.col-md-4.col-sm-6
                      select.select.select_style-2
                        option(value="1") Кирпич
                        option(value="2") Кирпич
                        option(value="3" selected) Кирпич
                    .filter-section__item.col-lg-12.col-md-4.col-sm-6
                      select.select.select_style-2
                        option(value="1") Кирпич
                        option(value="2") Кирпич
                        option(value="3" selected) Кирпич
                    .filter-section__item.col-lg-12.col-md-4.col-sm-6
                      select.select.select_style-2
                        option(value="1") Кирпич
                        option(value="2") Кирпич
                        option(value="3" selected) Кирпич
                    .filter-section__item.col-lg-12.col-md-4.col-sm-6
                      select.select.select_style-2
                        option(value="1") Кирпич
                        option(value="2") Кирпич
                        option(value="3" selected) Кирпич
          .filter__buttons
            button.button.button_style-2.filter__button Применить
            a(href="javascript:void(0);").filter__reset Очистить
    
        .d-none.d-lg-block
          include blocks/advertising
          include blocks/advertising
      .col-xl.col-lg-9
        .row.grid
          include blocks/cards
          -var grid = 'grid__block col-md-6 col-12'
          +card1(true, true, grid)
          +card1(true, true, grid)
          +card1(true, true, grid)
          +card1(true, true, grid)
          +card1(true, true, grid)
          +card1(false, false, grid)
        .pagination
          ul.pagination__list
            li.pagination__item
              a(href="#").pagination__link.active 1
            li.pagination__item
              a(href="#").pagination__link 2
            li.pagination__item
              a(href="#").pagination__link 3
            li.pagination__item
              a(href="#").pagination__link 4
            li.pagination__item
              a(href="#").pagination__link >>


  section.section
    .container
      .row.justify-content-center
        .col-xl-10
          h2 Почему мы лучше продаем стройматериалы
          p Инвестируем в заводы, производящие листовые строительные материалы (ДСП ЦСП ФАНЕРА, ОСБ и т.д.) заключаем договора, выкупаем партии продукции, везем вагонами или фурами на склад и после поставляют постоянным клиентам типа “Красной цены”, “Сатурна”, “Центр строя” и т.д. Если есть товар в наличии и их цена ниже, то мы продаем, если нет — то продают конкуренты.
      

  -var formTitle = 'Станьте нашим партнёром'
  include blocks/form