extends layout/layout
block title
  title Типография
block breadcrumbs 
  -var title = 'Типография'
  include blocks/breadcrumbs
block content

  section.section
    .container
      h1 Типография, списки, таблица и изображения
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
      h2 Заголовок группы
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
      h3 Заголовок группы
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
      figure
        img(src="img/image 35.jpg", alt="image")
        figcaption Подпись фотографии
      p В зависимости от внешнего вида наружных слоев на сорта: 
      ul  
        li Сорт Е (элита)
        li Сорт I, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
        li Сорт III
      p В зависимости от внешнего вида наружных слоев на сорта: 
      ol
        li Сорт Е (элита)
        li Сорт I, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
        li Сорт III
        li Сорт IV
      h3 Таблица №1. Технические характеристики
      .table
        table
          tr
            th Номер заказа
            th Получение
            th Сумма
            th Оплачено
          tr
            td 28.03.2019
            td Самовывоз
            td 3&nbsp;256,00&nbsp;₽
            td Да
          tr
            td 28.03.2019
            td Самовывоз
            td 50 136,00&nbsp;₽
            td Нет
          tr
            td 28.03.2019
            td Доставка
            td 36,00&nbsp;₽
            td Да
          tr
            td 28.03.2019
            td Самовывоз
            td 50&nbsp;136,00&nbsp;₽
            td Нет
          tr
            td 28.03.2019
            td Доставка
            td 36,00&nbsp;₽
            td Да
      h5 Заголовок группы
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве. 
      h6 Заголовок группы
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия.