extends layout/layout
block title
  title Заказ
block breadcrumbs 
  -var title = 'Заказ'
  include blocks/breadcrumbs
block content
  section.section
    .container
      h1 Оформление заказа
        

  