section.section.project-calculator  
  h2 Калькулятор стоимости проекта
  p Знаете где купить строиматериалы дешевле? Рассчитайте стоимоть прокекта по этим ценам
  .project-calculator-block.toggle-section
    .project-calculator-block__head.toggle-section__head
      h3.project-calculator-block__title Фундамент
      .project-calculator-block__head-price 600 000 ₽
      .button.button_style-1.button_rounded-arrow.project-calculator-block__arrow
        svg.icon
          use(xlink:href="img/icons/icons-sprite.svg#arrow-down-bold")
    .toggle-section__content.project-calculator-block__content
      table.project-calculator-table
        tr.project-calculator-table__head
          th.project-calculator-table__head-title Наименование, ед.изм
          th.project-calculator-table__head-title Кол-во
          th.project-calculator-table__head-title Цена единицы
          th.project-calculator-table__head-title Сумма, ₽
        tr.project-calculator-table__section
          td.project-calculator-table__item
            span.project-calculator-table__item-label Наимен., ед.изм.
            .project-calculator-table__item-content.project-calculator-table__item-title Бетон, тонн
          td.project-calculator-table__item 
            span.project-calculator-table__item-label кол-во
            .project-calculator-table__item-content.project-calculator-table__item-count 20 
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Цена единицы
            .project-calculator-table__item-content 
              .input.project-calculator-table__input
                input.input__element(type='text' value='5 000')
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Сумма
            .project-calculator-table__item-content.project-calculator-table__item-price 100 000
        tr.project-calculator-table__section
          td.project-calculator-table__item
            span.project-calculator-table__item-label Наимен., ед.изм.
            .project-calculator-table__item-content.project-calculator-table__item-title Бетон, тонн
          td.project-calculator-table__item 
            span.project-calculator-table__item-label кол-во
            .project-calculator-table__item-content.project-calculator-table__item-count 20 
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Цена единицы
            .project-calculator-table__item-content 
              .input.project-calculator-table__input
                input.input__element(type='text' value='5 000')
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Сумма
            .project-calculator-table__item-content.project-calculator-table__item-price 100 000
        tr.project-calculator-table__section
          td.project-calculator-table__item
            span.project-calculator-table__item-label Наимен., ед.изм.
            .project-calculator-table__item-content.project-calculator-table__item-title Работы по заливке, шт
          td.project-calculator-table__item 
            span.project-calculator-table__item-label кол-во
            .project-calculator-table__item-content.project-calculator-table__item-count 1 
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Цена единицы
            .project-calculator-table__item-content 
              .input.project-calculator-table__input
                input.input__element(type='text' value='50 000')
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Сумма
            .project-calculator-table__item-content.project-calculator-table__item-price 50 000
  .project-calculator-block.toggle-section
    .project-calculator-block__head.toggle-section__head
      h3.project-calculator-block__title Стены
      .project-calculator-block__head-price 600 000 ₽
      .button.button_style-1.button_rounded-arrow.project-calculator-block__arrow
        svg.icon
          use(xlink:href="img/icons/icons-sprite.svg#arrow-down-bold")
    .toggle-section__content.project-calculator-block__content
      table.project-calculator-table
        tr.project-calculator-table__head
          th.project-calculator-table__head-title Наименование, ед.изм
          th.project-calculator-table__head-title Кол-во
          th.project-calculator-table__head-title Цена единицы
          th.project-calculator-table__head-title Сумма, ₽
        tr.project-calculator-table__section
          td.project-calculator-table__item
            span.project-calculator-table__item-label Наимен., ед.изм.
            .project-calculator-table__item-content.project-calculator-table__item-title Бетон, тонн
          td.project-calculator-table__item 
            span.project-calculator-table__item-label кол-во
            .project-calculator-table__item-content.project-calculator-table__item-count 20 
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Цена единицы
            .project-calculator-table__item-content 
              .input.project-calculator-table__input
                input.input__element(type='text' value='5 000')
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Сумма
            .project-calculator-table__item-content.project-calculator-table__item-price 100 000
        tr.project-calculator-table__section
          td.project-calculator-table__item
            span.project-calculator-table__item-label Наимен., ед.изм.
            .project-calculator-table__item-content.project-calculator-table__item-title Бетон, тонн
          td.project-calculator-table__item 
            span.project-calculator-table__item-label кол-во
            .project-calculator-table__item-content.project-calculator-table__item-count 20 
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Цена единицы
            .project-calculator-table__item-content 
              .input.project-calculator-table__input
                input.input__element(type='text' value='5 000')
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Сумма
            .project-calculator-table__item-content.project-calculator-table__item-price 100 000
        tr.project-calculator-table__section
          td.project-calculator-table__item
            span.project-calculator-table__item-label Наимен., ед.изм.
            .project-calculator-table__item-content.project-calculator-table__item-title Работы по заливке, шт
          td.project-calculator-table__item 
            span.project-calculator-table__item-label кол-во
            .project-calculator-table__item-content.project-calculator-table__item-count 1 
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Цена единицы
            .project-calculator-table__item-content 
              .input.project-calculator-table__input
                input.input__element(type='text' value='50 000')
          td.project-calculator-table__item 
            span.project-calculator-table__item-label Сумма
            .project-calculator-table__item-content.project-calculator-table__item-price 50 000
  
  .project-calculator__total
    .project-calculator__total-value ИТОГО: 
      span 3 400 000 ₽