//header
header.header
  .header__top
    .container
      .header__nav-group
        .logo 
          a(href="index.html").logo__link
            include logo
        .header-nav
          ul.header-nav__list
            mixin item(title)
              li.header-nav__item
                a(href="#").header-nav__link=title
            +item('Сотрудничество')
            +item('Доставка')
            +item('Акции')
            +item('Партнеры')
            +item('Контакты')
      .header__contact-group
        .header__city
          a(href="#cities" data-popup-open).header__city-link Самара
            svg.icon
              use(xlink:href="img/icons/icons-sprite.svg#arrow-down")
          .city-question-popup
            span.city-question-popup__text Ваш город Нижний Новгород?
            .city-question-popup__buttons.row
              .col-auto
                a(href="javascript:void(0);" data-popup-close).button.button_style-2.city-question-popup__button Да
              .col-auto
                a(href="#cities" data-popup-open data-popup-close).button.button_style-1.city-question-popup__button Нет
        .header__contact-items
          a(href="tel:+79874433777").header__phone +7 987 443-37-77
          a(href="#feedback" data-popup-open).button.button_style-1 Заказать звонок
        //nav toggle
        a(href="javascript:void(0);").nav-toggle
          span
          span
          span
  .header__bottom
    .container
      .search.header__search
        form(action="#").search__form
          input(type="text" placeholder="Введите название, бренд...").search__input
          button.search__button
            svg.icon
              use(xlink:href="img/icons/icons-sprite.svg#search")
        .search-content-window.scrollbar.search__content
          ul.search-content-window__list.scrollbar__content
            .scrollbar__inner
              li.search-content-window__item
                span.search-content-window__item-title
                  a(href="#") Фанера влагостойкая 
                  span.search-content-window__item-label.search-content-window__item-label_style-1 группа товаров
                .search-content-window__item-value 63 товара
              li.search-content-window__item
                span.search-content-window__item-title
                  a(href="#") Фанера влагостойкая Плита OSB-3 12x2500х1250 мм длинное название на две строчки 
                  span.search-content-window__item-label.search-content-window__item-label_style-2 товар
                .search-content-window__item-value 1234.50 ₽/шт. 
              li.search-content-window__item
                span.search-content-window__item-title
                  a(href="#") Фанера влагостойкая 
                  span.search-content-window__item-label.search-content-window__item-label_style-1 группа товаров
                .search-content-window__item-value 63 товара
              li.search-content-window__item
                span.search-content-window__item-title
                  a(href="#") Фанера влагостойкая Плита OSB-3 12x2500х1250 мм длинное название на две строчки 
                  span.search-content-window__item-label.search-content-window__item-label_style-2 товар
                .search-content-window__item-value 1234.50 ₽/шт. 
              li.search-content-window__item
                span.search-content-window__item-title
                  a(href="#") Фанера влагостойкая 
                  span.search-content-window__item-label.search-content-window__item-label_style-1 группа товаров
                .search-content-window__item-value 63 товара
              li.search-content-window__item
                span.search-content-window__item-title
                  a(href="#") Фанера влагостойкая Плита OSB-3 12x2500х1250 мм длинное название на две строчки 
                  span.search-content-window__item-label.search-content-window__item-label_style-2 товар
                .search-content-window__item-value 1234.50 ₽/шт. 

      .header__buttons-group
        //btn
        a(href="#").header__small-button.header__small-button_auth
          svg.icon
            use(xlink:href="img/icons/icons-sprite.svg#user")
          span “Строймонтаж”
        //btn
        a(href="#").header__small-button.header__small-button_comparison
          svg.icon
            use(xlink:href="img/icons/icons-sprite.svg#comparison")
          span 0
        //btn
        a(href="#").header__small-button.header__small-button_cart 
          svg.icon
            use(xlink:href="img/icons/icons-sprite.svg#subtract")
          span 12
