.js-helper-module
  a(href="javascript:void(0);").js-helper-module__trigger 
    svg.icon
      use(xlink:href="img/icons/icons-sprite.svg#arrow-right")
  .js-helper-module__container
    //section
    .js-helper-module__section
      span.js-helper-module__section-title Всплывающие окна:
      .js-helper-module__section-content
        a(href="#feedback" data-popup-open).js-helper-module__section-button Обратный звонок
        a(href="#succes" data-popup-open).js-helper-module__section-button Успешно
        a(href="#cities" data-popup-open).js-helper-module__section-button Выбор города
        a(href="#error" data-popup-open).js-helper-module__section-button Ошибка
        a(href="javascript:void(0);").js-helper-module__section-button.js-helper-module__city-toggle Уточнение местоположения
    //section
    .js-helper-module__section
      span.js-helper-module__section-title Этап 1:
      .js-helper-module__section-content
        a(href="index.html").js-helper-module__section-button Главная
    //section
    .js-helper-module__section
      span.js-helper-module__section-title Этап 2:
      .js-helper-module__section-content
        a(href="projects1.html").js-helper-module__section-button Проекты (тип 1)
        a(href="projects2.html").js-helper-module__section-button Проекты (тип 2)
        a(href="services1.html").js-helper-module__section-button Услуги (тип 1)
        a(href="services2.html").js-helper-module__section-button Услуги (тип 2)
        a(href="service.html").js-helper-module__section-button Услугa
        a(href="project.html").js-helper-module__section-button Проект
        a(href="zakaz.html").js-helper-module__section-button Заказ
        a(href="zakaz-final.html").js-helper-module__section-button Заказ (финал)
    //section
    .js-helper-module__section
      span.js-helper-module__section-title Этап 3:
      .js-helper-module__section-content
        a(href="portfolio.html").js-helper-module__section-button Портфолио
        a(href="portfolio-project.html").js-helper-module__section-button Портфолио - проект
        a(href="404.html").js-helper-module__section-button 404
        a(href="email.html").js-helper-module__section-button Письмо
        a(href="text.html").js-helper-module__section-button Текстовая страница
        a(href="clients.html").js-helper-module__section-button Клиентам
        a(href="contacts.html").js-helper-module__section-button Контакты
        a(href="news.html").js-helper-module__section-button Новости и акции
        a(href="viki.html").js-helper-module__section-button Вики — база знаний