section.section.reviews
  .reviews-head
    //rating
    .js-rating.reviews-head__rating 
      h4.js-rating__title Пожалуйста, оцените:
      ul.js-rating__list
        mixin star(idx)
          li.js-rating__item
            a(href="javascript:void(0);" data-index=idx).js-rating__star
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#star")
        +star('1')
        +star('2')
        +star('3')
        +star('4')
        +star('5')
      input(type='text', name='RATING' hidden)
      ul.js-rating__description-list
        span.js-rating__description-item Очень плохой товар
        span.js-rating__description-item Плохой товар
        span.js-rating__description-item Средний товар
        span.js-rating__description-item Хороший товар
        span.js-rating__description-item Отличный товар

    form(action="#").reviews__form.js-validation.row
      .col-12.reviews__form-group
        .input.form__input
          textarea(name='review' placeholder="Комментарий").input__element.input__element_textarea.required
          span.input__label Ваш отзыв
      .col-sm-6
        .row
          .reviews__form-group.col-sm-12
            .input.form__input
              input(type="text" name='name' placeholder="Имя*").input__element.required
              span.input__label Имя
          .reviews__form-group.col-xl-6
            .input.input_code
          .reviews__form-group.col-xl-6
            .input.form__input
              input(type="text" name='code' placeholder="Проверочный код*").input__element
              span.input__label Проверочный код
          .col-12
            button(type='submit').button.button_style-2.reviews__form-submit Отправить
  .reviews__content 
    h2.reviews__title Отзывы на товар
    .reviews__items
      mixin review(comment, like)
        .review-item
          .review-block
            .review-block__head 
              .review-block__user-icon k k
              .review-block__head-container
                span.review-block__name Константин Константинович Константинопольский 
                img(src="img/icons/rating_3.5.svg", alt="stars").review-block__rating
                span.review-block__date 4 Фев, 2020
            .review-block__content
              p Взял в у них и не пожалел материал от ведущего производителя компании «КНАУФ Инсулейшн» отличается наличием поистине уникальных свойств. Которые позволили заметно повысить эксплуатационные характеристики.
            .review-block__buttons
              a(href="javascript:void(0)").review-block__button.review-block__button-heart(class=like?'active':'')
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#heart")
                span.review-block__button-count 213
              if comment==true
                .review-block__button
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#comment")
                  span.review-block__button-count 1
          if comment==true
            .review-block.review-block_admin-style
              .review-block__head 
                .review-block__user-icon 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#shield")
                .review-block__head-container
                  span.review-block__name Администрация
                  span.review-block__date 4 Фев, 2020
              .review-block__content
                p Спасибо за отзыв! Вы правы и не пожалели материал от ведущего производителя <br> Позволили заметно повысить эксплуатационные характеристики.
              .review-block__buttons
                a(href="javascript:void(0)").review-block__button.review-block__button-heart
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#heart")
                  span.review-block__button-count 213
                  
      +review(true)
      +review(false, true)
      +review(false, true)
  .reviews__more
    a(href="#").button.button_style-1
      svg.icon
        use(xlink:href="img/icons/icons-sprite.svg#arrow-down")
      span Показать еще
